body
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(28, 28, 28);
}

#display
{
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    font-size: calc(10px + 2vmin);
    padding: 25px;
    margin: 20px;
    background-color: lightgray;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
  max-width: auto;
  margin: auto; 
}

button
{
    font-size: calc(10px + 2vmin);
    border-radius: 50px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease;

}

button:active
{
    background-color: gray;
}

button:hover
{
    background-color: darkgray;
    cursor: pointer;
}

.operator
{
    background-color: orange;
}

.operator:hover
{
    background-color: darkorange;
}

.clear
{
    background-color: orange;
}

.decimal
{
    grid-column: span 2;
}

.equals
{
    grid-column: span 3;
}
